---
import NextJS from "./../../components/icons/NextJSIcon.astro";
import Tailwind from "./../../components/icons/TailwindIcon.astro";
import React from "./../../components/icons/ReactIcon.astro";
import Astro from "./../../components/icons/AstroIcon.astro";
import Github from "./../../components/icons/GithubIcon.astro";
import Javascript from "./../../components/icons/JavascriptIcon.astro";
import Php from "./../../components/icons/PHPIcon.astro";
import Vue from "./../../components/icons/VueIcon.astro";
import Wordpress from "./../../components/icons/WordpressIcon.astro";
import Html from "./../../components/icons/HTMLIcon.astro";
import Alpine from "./../../components/icons/AlpineIcon.astro";
import Laravel from "./../../components/icons/LaravelIcon.astro";
import Css from "./../../components/icons/CSSIcon.astro";
import SassIcon from "./../../components/icons/SassIcon.astro";


const TAGS = {
  NEXT: {
    name: "NextJS",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-white text-[#0ACCEF]",
    icon: React,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: Astro,
  },
  GITHUB: {
    name: "GitHub",
    class: "bg-black text-white",
    icon: Github,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-100 text-black",
    icon: Javascript,
  },
  PHP: {
    name: "PHP",
    class: "bg-blue-600 text-white",
    icon: Php,
  },
  VUE: {
    name: "Vue",
    class: "bg-green-500 text-white",
    icon: Vue,
  },
  WORDPRESS: {
    name: "WordPress",
    class: "bg-blue-300 text-white",
    icon: Wordpress,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#FFFFFF] text-black",
    icon: Html,
  },
  ALPINE: {
    name: "AlpineJS",
    class: "bg-[#242934] text-white",
    icon: Alpine,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#171923] text-white",
    icon: Laravel,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#2965F1] text-white",
    icon: Css,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#70254b] text-white",
    icon: SassIcon,
  },
};

const PROJECTS = [
  {
    title: "Trycat Website (Wordle Game)",
    description:
      "Interactive web game made to learn about AlpineJS, it's a clone made from the popular game Wordle",
    link: "https://github.com/ignaaaam/WordleGame",
    github: "https://github.com/ignaaaam/WordleGame",
    image: "/img/optimized/showcase4.webp",
    tags: [TAGS.PHP, TAGS.LARAVEL, TAGS.TAILWIND, TAGS.ALPINE],
  },
  {
    title: "Halloween Website",
    description:
      "Responsive website simulating a halloween store, frontend only using HTML CSS and JavaScript, some JS libraries were used and some CSS animations were added.",
    link: "https://spookywebsite.netlify.app/",
    github: "https://github.com/ignaaaam/spookywebsite",
    image: "/img/optimized/showcase0.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Natours Website",
    description:
      "Website about nature tours, made in a course while refining my HTML and CSS skills. It's a landing page that has a clean user interface made entirely with pure HTML and CSS.",
    link: "https://websiteproject-natours.netlify.app/",
    github: "https://github.com/ignaaaam/natours-project",
    image: "/img/optimized/showcase1.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.JAVASCRIPT],
  },
  {
    title: "Omnifood Website",
    description:
      "Website about healthy food delivery made in my early days of learning HTML and CSS while starting to learn basic technologies.",
    link: "https://omnifoodrestaurant.netlify.app/",
    github: "https://github.com/ignaaaam/omnifood-project",
    image: "/img/optimized/showcase2.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link, github }) => (
    <article class="mt-12 first-of-type:mt-8">
      <h3 class="mb-2 text-2xl font-semibold text-yellow-200">{title}</h3>
      <p class="mb-4 text-lg text-pretty">{description}</p>
      <ul class="flex flex-row mb-4 gap-x-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 items-center`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <div class="flex mt-8 gap-x-4">
        <a
          href={link}
          target="_blank"
          rel="noopener"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 transition bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-yellow-500/90 focus:z-10 focus:ring-2 focus:outline-none focus:ring-gray-200 focus:text-yellow-500/90"
        >
          View Project{" "}
          <svg
            class="w-3 h-3 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>

        <a href={github}
          target="_blank"
          rel="noopener" class="relative inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50">
          <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]" />
          <span class="inline-flex items-center justify-center w-full h-full px-3 py-1 text-sm font-medium text-white rounded-full cursor-pointer gap-x-2 bg-slate-950 backdrop-blur-3xl">
            Github
            <Github class="size-5" />
          </span>
        </a>
      </div>
    </article>
  ))
}
