---
const PROJECTS = [
  {
    title: 'Project 1',
    description: 'This is a description of project 1',
    link: 'https://www.google.com',
    github: '#',
    image: 'https://via.placeholder.com/150',
    tags: ['tag1', 'tag2']
  },
  {
    title: 'Project 2',
    description: 'This is a description of project 2',
    link: 'https://www.google.com',
    github: '#',
    image: 'https://via.placeholder.com/150',
    tags: ['tag1', 'tag2']
  },
  {
    title: 'Project 3',
    description: 'This is a description of project 3',
    link: 'https://www.google.com',
    github: '#',
    image: 'https://via.placeholder.com/150',
    tags: ['tag1', 'tag2']
  }
]
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
      <ul>
        {tags.map(tag => (
          <li>{tag}</li>
        ))}
      </ul>
      <img src={image} alt={`Captura de pantalla del proyecto ${image}`} />
      </article>
  )
)